body {
    /* remove margins and scroll bars */
    margin: 0;

    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #202032;

    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
    color: Gainsboro;
    overflow: auto;
    
}


#scene-container {
    /* tell our scene container to take up the full page */
    margin: 0pt;
    position: fixed;
    width: 100%;
    height: 100%;
    left: auto; 
    right: 0;
    z-index: -1;
}

#text{
    position: relative;
    width: 40%;
    height: auto;
    overflow: scroll;
    visibility: visible;
    
    margin-left: 20pt;
    text-align: left;
    text-justify: inter-word;

    overflow-x: hidden;
    overflow-y: auto;

    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.7;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 0px;
  }
  h2 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 0px;
  }  
mark {
    background-color: transparent;
    color: #ffabbd;
  }
  a {
    color: #5dcf84;
  }
#text img{
    padding: 15px;
}
#signature{
  width: 40%;
  position:relative;
  visibility: visible;

  text-align: right;
  margin-top: 40pt;
  margin-bottom: 10pt;
  line-height: 15pt;
}

#rotateMessage{
  position: fixed;
  z-index: 1;
  text-align: left;
  left: 10pt;
  bottom: 10pt; 
  visibility: hidden;
}

@media screen and (orientation:portrait)
{
  #text{
    visibility: hidden;
    width: 85%;
    height: 0;
  }
  #signature{
    visibility: hidden;
    width: 95%;
  }
  #rotateMessage{
    visibility: visible;
  }
}

.fa-brands{
    letter-spacing: 7pt;
}

.dg .c .slider-fg {
    background: #51b574 !important;
}
.dg .cr.number input[type=text] {
    color: #51b574 !important;
}
.dg .c input[type=checkbox] {
    accent-color: #51b574 !important;
}
#gui {
  position: absolute !important;
  /* height: 100% !important;
  left: 5% !important; */
  top: 0px !important;
  bottom: auto !important;
  left: auto !important;
  right: 0px !important; 
}
#stats {
  position: fixed !important;
  top: auto !important;
  bottom: 10pt !important;
  left: auto !important;
  right: 0pt !important;
}

#messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    z-index: 0;
    opacity: 1; /* Initial state: fully opaque */
}

#messages.start_fade_out {
  animation: fadeOut 2s ease-out, visibility 0s linear 2.5s; /* Animate opacity over 0.5 seconds */
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Start fully opaque */
    }
    100% {
        opacity: 0; /* End completely transparent */
        display: none;
    }
}

div.neon-text p {
    font-size: 1.85rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}
div.neon-text h1 {
    font-size: 4rem;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

/*# sourceMappingURL=main.css.map*/